.project_container {
  display: block;
}
.button_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 4rem;
  padding-bottom: 1rem;
}
.content_button {
  margin: 0.7rem;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  object-fit: scale-down;
  transition: ease-in-out 0.5s;
}
.content_button:hover {
  transform: scale(0.9);
}
.pop_title {
  padding-left: 3rem;
  color: var(--text-secondary);
}
.title {
  color: var(--text-primary);
}
.pip_title {
  display: flex;
  color: var(--text-primary);
  font-size: 18px;
  font-family: var(--font-family);
}
.pip_description {
  text-align: start;
}



.pop_button {
  padding: 5px 15px;
  border: none;
  outline: none;
  color: var(--accent);
  text-decoration: none;
  background-color: #1768ac;
  border-radius: 10px;
  font-weight: 500;
  font-family: var(--font-family);
  cursor: pointer;
}
.pop_up_container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 111;
  overflow-y: auto;
}
.up_container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #1768ac;
  right: 0;
  background-color: rgb(0, 0, 0, 0.7);
  padding-top: 15%;
  z-index: 1111;
  overflow-y: auto;
}

.up_body {
  width: 70%;
  height: 100%;
  background: linear-gradient(
    to right bottom,
    rgba(21, 22, 24, 0.7),
    rgba(27, 23, 56, 0.3)
  );
  margin: auto;
  height: auto;
  border-radius: 0.5rem;
}

.pop_up_header {
  display: flex;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 0.4rem;
  justify-content: space-between;
  border-bottom: 1px solid red;
  height: auto;
}

.pop_up_card {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 2rem;
}
.upcard {
  margin: 0.6rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--background);
  box-shadow: 0.7rem 0.7rem 0 rgb(33, 41, 50);
  object-fit: scale-down;
}
.last_pop_up {
  margin: auto;
  padding: 2rem;
}

@media (max-width: 419px) {
  .content_card {
    display: block;
    margin-left: -0.1rem;
    padding: 0.6rem;
  }
  .content_container {
    margin: 1.2rem;
  }
  .pop_up_card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: auto;
    height: auto;
    justify-content: space-around;
    align-items: center;
    padding: 0.1rem;
  }
}
.main_pop_up {
  text-align: center;
  display: flex;
  background-color: #282c34;
  color: white;
  position: absolute;
  height: auto;
  width: 80%;

}
.pop_up_body {
  position: absolute;
  text-align: center;
  width: 85%;
  height: auto;
  background: linear-gradient(
    to right bottom,
    rgba(21, 22, 24, 0.7),
    rgba(27, 23, 56, 0.3)
  );
  margin-left: 5rem;

  border-radius: 0.4rem;
}
.mainbody {
  display: flex;
}
.sidemenu {
  flex: 1;
  background-color: #121a29;
  padding: 14px;
  max-height: 100%;

}
.mainmenu {
  flex: 5;
  background-color: #343541;
  max-height: auto;

}
.sidemenu_button {
  padding: 3px;
}
.sidemenu_ul {
  display: flex;
  flex-direction: column;
}
.sidemenu_ul li {
  padding: 4px;
  margin: 0px 0px 0px 20px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.sidemenu_ul li a {
  list-style: none;
  font-size: 18px;
  text-decoration: none;
}

.mainside {
  text-align: left;
  padding-top: 30px;
}
.maintopic {
  padding-left: 18px;
}
