* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: var(--font-family);
}

:root {
   --background: rgb(26, 32, 44);
   --text-primary: rgb(95, 91, 91);
   --text-secondary: #2c3e50;
   --fade: rgb(248, 247, 247);
   --hover: rgb(93, 104, 164);

   /* --border: rgb(2, 2, 2); */
   /* --form-bg: #fff; */
}

[data-theme='dark'] {
   --background: #ffffff;
   --text-primary: rgb(163, 159, 159);
   --text-secondary: rgb(179, 186, 194);
   --fade: rgb(39, 45, 58);
   --hover: rgb(93, 104, 164);

   /* --border: #ffffff; */
   /* --form-bg: #191919; */
}

.details {
   display: flex;
   margin-left: -15px;
   padding: 5px;
   justify-content: center;
   align-items: center;
   color: #000000;
}

.fade {
   padding: 10px;
   margin: 8px 0px;
   border-radius: 5px;
   background-color: var(--fade);
}
.aboutme {
   line-height: 1.5rem;
}
.education > .divspan {
   display: flex;
   justify-content: space-between;
}
.education > p {
   margin-bottom: 2rem;
}
.skills {
   padding: 24px 0 10px 0;
}
.expdiv {
   padding-top: 2rem;
}
.check {
   margin-right: 0.5rem;
}
.container-1 {
   display: flex;
   justify-content: center;
   background-color: var(--background);
}

.home {
   border-bottom: 2px solid #1a4e9b;
   width: 50px;
}

.home a {
   font-weight: 900;
}

.title {
   color: var(--text-primary);
}

.rightside p {
   color: var(--text-secondary);
   font-size: 5em;
}

.rightside {
   flex: 3;
   margin-top: 70px;
   padding-right: 4rem;
}

.leftside {
   flex: 1;
   margin-top: 45px;
   background-color: var(--background);
}

.sidebar {
   display: block;
   position: fixed;
   height: 625px;
   /* overflow-y: scroll; */
   padding: 34px 25px;
   box-sizing: border-box;
}

.active {
   display: block;
   position: fixed;
   height: 625px;
   /* overflow-y: scroll; */
   padding: 34px 25px;
   box-sizing: border-box;
   background-color: var(--background);
}

.active :hover {
   color: rgb(39, 55, 146);
}

.active a {
   list-style: none;
   font-size: 15px;
   text-decoration: none;
   color: var(--text-secondary);
}

.active li {
   padding: 4px;
   margin: 0px 0px 0px 20px;
   justify-content: center;
   align-items: center;
   font-size: 24px;
}

.sidebar li {
   padding: 4px;
   margin: 0px 0px 0px 20px;
   justify-content: center;
   align-items: center;
   font-size: 24px;
}

.sidebar a {
   list-style: none;
   font-size: 15px;
   text-decoration: none;
   color: var(--text-secondary);
}
.sidebar a:hover {
   color: var(--hover);
}
.sidebar a:focus {
   background-color: red;
}
.fixed-color a {
   background-color: black;
}

.menu-bar {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   position: relative;
}
.hrexpirience {
   margin: 5px 0;
   padding-right: 32px;
   max-width: 10rem;
}

.hr {
   margin: 5px 0px;
   max-width: auto;
   /* wimardth: 100vh; */
}

.menu-bar ul li a {
   font-size: 15px;
   text-decoration: none;
   color: var(--text-secondary);
}

/* dropdown menu style */
.dropdown-menu {
   display: none;
}

.dropdown-menu li a {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 4px;
   color: var(--text-primary);
}
.dropdown-menu li a:hover {
   color: var(--hover);
}

.menu-bar ul li:focus .dropdown-menu ul li {
   color: red;
}

.menu-bar ul li:hover .dropdown-menu {
   display: block;
   position: absolute;
   left: 0;
   top: 100%;
}

.menu-bar ul li:hover .dropdown-menu ul {
   display: block;
   margin-left: 25px;
   margin-top: 1px;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
   box-shadow: var(--box-shadow);
   background-color: var(--background);
}

.menu-bar ul li:hover .dropdown-menu ul li {
   width: 120px;
}

.Header {
   display: block;
   padding: 20px;
}

.Header h2 {
   font-size: 40px;
   padding: 10px 0px;
   color: var(--text-primary);
}

.Header p {
   font-size: 20px;
   padding: 10px 0px;
   color: var(--text-secondary);
}

.social li {
   font-size: 30px;
   padding: 10px 10px;
}

.about {
   padding: 20px;
   color: var(--text-primary);
   padding-top: 4.5rem;
}

.about p {
   font-size: 18px;
   color: var(--text-secondary);
}

div .Item li {
   font-size: 18px;
   color: var(--text-secondary);
}
.soloAudits {
   padding-top: 10px;
}
.soloAudits span {
   margin-top: 15px;
}

.mobileMenu {
   display: none;
}

.theme-toggle {
   padding: 9px;
   color: var(--text-secondary);
   font-size: 16px;
   cursor: pointer;
}

@media (min-width: 1060px) {
   .sidebar {
      padding: 0px 60px;
      /* transition: 2s; */
   }

   .active {
      padding: 0px 60px;
   }

   .nav-btn {
      display: flex;
   }

   .rightside {
      max-width: 100%;
   }
}

@media (max-width: 790px) {
   .container-1 {
      display: block;
      padding: 10px;
   }

   .active {
      margin-top: -32px;
      max-height: auto;
   }

   .mobileMenu {
      display: block;
      margin: -35px 25px;
      width: 20px;
      font-size: 24px;
      color: #8f969c;
      cursor: pointer;
   }

   .rightside {
      margin-top: 75px;
      /* padding-right: 0rem; */
   }

   .about-nav {
      display: none;
   }

   .sidebar {
      display: none;
   }

   .menu-bar {
      display: none;
   }

   .nav-btn {
      display: block;
   }
}

@media (max-width: 419px) {
   h1 {
      font-size: 1.5rem;
   }

   .rightside {
      padding: 0rem;
   }
}

.edit {
   padding: 2rem;
}
